body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

header {
  /*background: #333;*/
  background-image: url(https://parksideresort.com/wp-content/uploads/Museums-and-Galleries-in-the-Smokies-5.jpg);
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  width: 90%;
  margin: 1rem auto;
}

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3rem;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.producto {
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  background: #0078d7;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #005fa3;
}